<p-panel header="Pipes fuera de lo normal" class="p-2">
  <p>A continuación encontrarás una lista de Pipes incluídos en Angular</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-fieldset legend="i18nSelect Pipe (Sistema de internacionalización)" [toggleable]="true">

    </p-fieldset>
  </div>
  <div class="col-12 md:col-4">
    <p-fieldset legend="i18nPlural Pipe (Sistema de internacionalización)" [toggleable]="true">

    </p-fieldset>
  </div>
  <div class="col-12 md:col-4">
    <p-fieldset legend="Slice pipe" [toggleable]="true">

    </p-fieldset>
  </div>
  <div class="col-12 md:col-4">
    <p-fieldset legend="JSON Pipe" [toggleable]="true">

    </p-fieldset>
  </div>
  <div class="col-12 md:col-4">
    <p-fieldset legend="KeyValue pipe" [toggleable]="true">

    </p-fieldset>
  </div>
  <div class="col-12 md:col-4">
    <p-fieldset legend="Async pipe" [toggleable]="true">

    </p-fieldset>
  </div>
</div>
